@media (max-width: 1199px) { 
    .liki{
        display:inline-block;
    }
    .like-button{
        margin-top: 30px;
        text-align: center;
    }
    .contact-form{
        padding: 0px;
        padding: 30px;
        width: 80%;
        left: 10%;
        margin: auto;
        /* transform: translate(-50%); */

    }
    .contact {
        height: 123vh;
    }
    .foot-icon {
        width: 40%;
    }
    .phone {
        width: 44%;
        right: 0%;
    }
 }


 @media (max-width: 991px) { 
    .box1{
        margin: 10px 0;
    }
    .phone {
        right: 0%;
        width: 51%;
    }
    
 }

@media (max-width: 767px) { 
    .navbar-nav {
        text-align: center;
    }
    .phone{
        display: none;
    }
    .navbar-light .navbar-nav .nav-link:hover::after {
        width: 0;
    }
    .navbar-light .navbar-nav .nav-link:hover::before {
        width: 0;
    }
    .navbar-light .navbar-nav .nav-item {
        padding: 0px 0.6rem;
        padding: 2px 0;
    }
    .feature-section {
        height: none;
    }
    .carousel p{
        text-align: center;
    }
    .client{
         margin-left: 50%;
        transform: translateX(-50%); 
        
    }
    .btn-feature1{
        margin-top: 10px;
    }
    .dwn1{
        margin-top: 10px;
    }
    .contact{
        height:123vh
    }
    .contact-form{
        padding: 0px;
        padding: 20px;
        position: absolute;
        top: 570px;
        left: 12%;
        width: 80%;
        margin: auto;
        /* transform: translate(-50%); */
        
    }
    
    
    
 }
 @media (max-width: 575px){
    .navbar-nav {
        text-align: center;
    }
    .phone{
        display: none;
    }
    .banner-section{
        text-align: center;
    }
    .contact{
        height: 172vh;
    }
    .contact-form{
        padding: 0px;
        padding: 20px;
        position: absolute;
        top: 570px;
        left: 0;
        width: 100%;
        margin: auto;
        /* transform: translate(-50%); */
    }
    .foot-icon {
        width: 70%;
    }
    footer p {
        font-size: 12px;
    }
}





